<div class="main">
    <span class="mainchild alt-title">Market View</span>
    <span class="mainchild title">Today's market briefing</span>
    <div class="boxes">
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="break"></div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="break"></div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="break"></div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="break"></div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        <div class="box">
            <span class="title">BNGO</span>
            <span class="normal">Bionano</span>
            <span class="normal">Genomics Inc</span>
            <span class="title">1.39</span>
            <span class="sub-title red">+57.20%</span>
        </div>
        
    </div>
    <span class="third gray sub-title">Active stocks last updated Dec 29 2020.</span>
    <div class="half-section">
        <div class="section">
            <hr>
            <span class="sectionfirst title">Sector Highlights</span>
            <span class="sectionsecond normal gray">Dec 29 2020 09:10:40pm</span>
            <div class="cards">
                <div class="card">
                    <span class="title">Health Care</span>
                    <span class="title badge-good">+0.46%</span>
                </div>
                <div class="card">
                    <span class="title">Industrials</span>
                    <span class="title badge-bad">-0.78%</span>
                </div>
            </div>

            <hr [ngStyle]="{'margin-top': '5%'}">
            <span class="sectionthird title">Ex-Dividends</span>
            <div class="table">
                <span class="sub-title">Symbol</span>
                <span class="sub-title">Amount</span>
            </div>
            <hr>
            <span class="sectionfourth normal gray">There are no upcoming dividends</span>
        </div>
        <div class="side-section">
            <span class="title">My Watchlist <i class="fa fa-star"></i></span>
            <span class="sub-title"><i>Your watchlist is empty</i>. Build your watchlist by starring (<i [ngStyle]="{'color': 'blue'}" class="fa fa-star"></i>) the stocks you want to follow</span>
        </div>
    </div>
    <div class="full-section">
        <hr>
        <span class="sectionfirst title">Sector Highlights</span>
        <div class="table">
            <span class="sub-title">Symbol</span>
            <span class="sub-title">Company</span>
            <span class="sub-title">Fiscal Period</span>
            <span class="sub-title">Concensus Estimated EPS</span>
            <span class="sub-title">Actual EPS</span>
            <span class="sub-title">Surprise</span>
            <span class="sub-title">EPS, year ago</span>
            <span class="sub-title">% Change From Last Year</span>
        </div>
        <hr>
    </div>

    <div class="full-section-2">
        <hr>
        <span class="sectionfirst title">Sector Perfomance</span>
        <span class="sectionsecond normal gray">Dec 29 2020 09:10:40pm</span>
        <div class="cards1">
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            <div class="card">
                <span class="title">Industrials</span>
                <span class="title badge-bad">-0.78%</span>
            </div>
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            <div class="card">
                <span class="title">Industrials</span>
                <span class="title badge-bad">-0.78%</span>
            </div>
        </div>
        <div class="cards2">
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            <div class="card">
                <span class="title">Industrials</span>
                <span class="title badge-bad">-0.78%</span>
            </div>
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            <div class="card">
                <span class="title">Industrials</span>
                <span class="title badge-bad">-0.78%</span>
            </div>
        </div>
        <div class="cards3">
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            <div class="card">
                <span class="title">Industrials</span>
                <span class="title badge-bad">-0.78%</span>
            </div>
            <div class="card">
                <span class="title">Health Care</span>
                <span class="title badge-good">+0.46%</span>
            </div>
            
        </div>
    </div>

    <div class="next">
        <a routerLink="/second">Next Page >>></a>
    </div>
</div>